name: Publish

on:
  release:
    types: [created]

jobs:
  publish:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel twine
    - name: Version
      run: |
        version=`git describe --abbrev=0 --tags` &&	
        sed -i s/\[0-9]\.\[0-9]\.\[0-9]/$version/ mailosaur/mailosaur_client.py &&	
        sed -i s/\[0-9]\.\[0-9]\.\[0-9]/$version/ mailosaur/version.py &&	
        sed -i s/\[0-9]\.\[0-9]\.\[0-9]/$version/ setup.py
    - name: Build and publish
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        python setup.py sdist bdist_wheel
        twine upload dist/*
    - name: Notify on Failure
      uses: skitionek/notify-microsoft-teams@master
      if: ${{ failure() }}
      with:
        webhook_url: ${{ secrets.TEAMS_BUILDS_WEBHOOK }}
        needs: ${{ toJson(needs) }}
        job: ${{ toJson(job) }}
        overwrite: "{ title: `${workflow} failed for ${repository.name}` }"
